<nav class = " navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
    <li class = "nav-link">
      <a routerLink = "../../../{{username}}/selling-page" routerLinkActive = "active" class = "nav-link"> See Active Auctions </a>
    </li>
    <li class = "nav-link">
      <a routerLink = "../../../{{username}}/selling-page/old-items-list-page" routerLinkActive = "active" class = "nav-link"> See Old Auctions </a>
    </li>
  </ul>
</nav>

<body>
<h2>All Bids For Item {{item?.name}}</h2>
<table class = "table table-hover">
  <thead>
  <tr>
    <th>Username</th>
    <th>Amount</th>
    <th>Date</th>
    <th>Get in touch</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let bid of bids">
    <td> {{map?.get(bid.id)}} </td>
    <td> {{bid.amount}} </td>
    <td> {{bid.time}} </td>
    <td *ngIf="buyer?.get(bid.id)"><button (click) = "goToMessages()" class = "btn btn-success"> Send Message </button> </td>
  </tr>
  </tbody>
</table>
<br>
<br>
</body>
