div{
  text-align: center;
  font-size: large;
}

.bid-button{
  margin: 0;
  position: absolute;
  top: 77%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn-info{
  width: 125px;
  font-size: 20px;
  color: whitesmoke;
}
