<nav class = " navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
    <li class = "nav-link">
      <a routerLink = "../users" routerLinkActive = "active" class = "nav-link"> User List </a>
    </li>
    <li class = "nav-link">
      <a routerLink = "../pending-user-list" routerLinkActive = "active" class = "nav-link"> Pending Users</a>
    </li>
    <li class = "nav-link">
      <a routerLink = "../welcome-user" routerLinkActive = "active" class = "nav-link"> Log out </a>
    </li>
  </ul>
</nav>

<div class="export-button">
  <td>
    <button *ngIf="downloadJsonHref == undefined" (click) = "getAllItemsJSON()" class = "btn btn-success"> Load JSON </button>
  </td>
  <a *ngIf="downloadJsonHref != undefined" class="btn btn-dark" [href]="downloadJsonHref" download="download-json.json"> Export JSON </a>
</div>

<div class="export-button">
  <td>
    <button *ngIf="downloadXMLHref == undefined" (click) = "getAllItemsXML()" class = "btn btn-success"> Load XML </button>
  </td>
  <a *ngIf="downloadXMLHref != undefined" class="btn btn-dark" [href]="downloadXMLHref" download="download-xml.xml"> Export XML </a>
</div>
