.container {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.card {
  border: 1px solid;
  width: 300px;
  margin-bottom: 30px;
}

.edit-button{
  margin-left: 100px;
}
