button.margin-right {
  margin-right: 20px;
}

a:link, a:visited {
  background-color: #365ff4;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:125px;
  height:50px;
}

a:hover, a:active {
  background-color: red;
}

.LogIn-AddUser{
  text-align: center;
}

.LogIn{
  color: green;
}
