h2{
  text-align: center;
  text-decoration: underline;
  font-weight: bolder;
  font-size: xx-large;
}

col-sm{
  position: absolute;
}

.form-group{
  margin-top: 50px;
}

.dropdown{
  width: 200px;
  height: 100px;
  text-align: center;
}

select {
  margin-bottom: 10px;
  margin-top: 10px;
  outline: 0;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

.price{
  margin-top: 10px;
}

.location{
  margin-top: 10px;
}

.description{
  margin-top: 10px;
}

.clear-button{
  height: 20px;
}
