<nav class = " navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
    <li class = "nav-link">
      <a routerLink = "../../welcome-user" routerLinkActive = "active" class = "nav-link"> Log out </a>
    </li>
    <li class = "nav-link">
      <a routerLink = "../{{username}}/user-detail/" routerLinkActive = "active" class = "nav-link"> User Details </a>
    </li>
  </ul>
</nav>
<div class = "title">
  <h1>HELLO {{username}} !</h1>
</div>

<div class="sellerButton">
  <td *ngIf="!sellerValid">
    <button (click) = "createSeller()" class = "btn btn-success"> Become Seller! </button>
  </td>
  <td *ngIf="sellerValid">
    <button (click) = "goSell()" class = "btn btn-info"> Go Sell </button>
  </td>
</div>

<div class="bidderButton">
  <td *ngIf="!bidderValid">
    <button (click) = "createBidder()" class = "btn btn-success"> Become Bidder! </button>
  </td>
  <td *ngIf="bidderValid">
    <button (click) = "goBid()" class = "btn btn-info"> Go Bid </button>
  </td>
</div>

