.struct{
  margin-top: 20px;
  margin-left: 50%;
}

col-sm{
  position: absolute;
}

.btn-info{
  width: 150px;
  font-size: 25px;
  color: whitesmoke;
  background-color: #365ff4;
  border-color: #365ff4;
}
.btn-success{
  width: 150px;
  font-size: 25px;
  color: whitesmoke;
}
